@model IEnumerable<Epizon.Models.Articolo>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">Crea nuovo articolo <bold>+</bold></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Titolo</th>
            <th>Descrizione</th>
            <th>Prezzo(€)</th>
            <th>Immagine di copertina</th>
            <th>Immagine 2</th>
            <th>Immagine 3</th>
            <th>Tempi di spedizione</th>
            <th>Categoria</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Titolo
                </td>
                <td>
                    @item.Descrizione
                </td>
                <td>
                    @item.Prezzo
                </td>
                <td>
                    <img src="~/images/@item.ImmagineCopertina" alt="Cover Image" width="100" height="100" />
                </td>
                <td>
                    <img src="~/images/@item.Immagine2" alt="Image 2" width="100" height="100" />
                </td>
                <td>
                    <img src="~/images/@item.Immagine3" alt="Image 3" width="100" height="100" />
                </td>
                <td>
                    @item.TempiDiSpedizione
                </td>
                <td>
                    @item.Categoria
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Modifica</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Dettagli</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Cancella</a>
                </td>
            </tr>
        }
    </tbody>
</table>
