@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Epizon</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Epizon.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <style>
      

        .dropdown-item{
            color:white;
        }
        .dropdown-item:hover{
            color: #008296;
            font-weight:300px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3" style="background-color:#008296;">
            <div class="container-fluid">
                <a class="navbar-brand" href="@GetHomeUrl()"><img src="~/images/epizon2.png" alt="logo epizon" style="height: 70px;" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <span class="nav-link text-white">Ciao, @User.Identity.Name</span>
                            </li>

                            @if (User.IsInRole("Compratore"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Carrello" asp-action="IMieiOrdini">I miei ordini</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Profile">Il mio profilo</a>
                                </li>
                            }
                            else if (User.IsInRole("Rivenditore"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="HomeRivenditore">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Articoli" asp-action="Index">Articoli</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Ordini" asp-action="OrdiniRicevuti">Ordini Ricevuti</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-controller="Rivenditore" asp-action="Profilo">Profilo Rivenditore</a>
                                </li>
                            }

                            <li class="nav-item">
                                <form asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
                                    <button type="submit" class="btn btn-link nav-link text-white">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown" style="background-color:#008296;">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="loginDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Accedi
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="loginDropdown" style="background-color:#008296;">
                                    <li><a class="dropdown-item " asp-area="" asp-controller="Account" asp-action="LoginRivenditore">Accedi come Rivenditore</a></li>
                                    <li><a class="dropdown-item " asp-area="" asp-controller="Account" asp-action="LoginCompratore">Accedi come Compratore</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown" style="background-color:#008296;">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="registerDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Registrati
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="registerDropdown" style="background-color:#008296;">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="RegisterRivenditore">Registrati come Rivenditore</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="RegisterCompratore">Registrati come Compratore</a></li>
                                </ul>
                            </li>
                        }

                        @if (!User.Identity.IsAuthenticated || User.IsInRole("Compratore"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" href="@Url.Action("VisualizzaCarrello", "Carrello")">
                                    <i class="fas fa-shopping-cart text-white"></i>
                                    Carrello
                                    <span id="numeroProdottiNelCarrello" class="badge bg-primary text-white">0</span>
                                </a>
                            </li>
                            <li class="nav-item mx-5 flex-grow-1">
                                <form class="d-flex w-100" asp-action="Cerca" asp-controller="Shop" method="get">
                                    <input class="form-control me-2 flex-grow-1" type="search" name="query" placeholder="Cerca qualsiasi cosa..." aria-label="Search" />
                                    <button class="btn btn-outline-light" type="submit">Cerca</button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container my-5">
        <main role="main" class="my-5">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top text-muted my-5">
        <div class="container my-5">
            <div class="row">
                <div class="col-md-4">
                    <h5>Link Utili</h5>
                    <ul class="list-unstyled">
                        <li><a asp-controller="Support" asp-action="TerminiECondizioni">Termini e Condizioni</a></li>
                        <li><a asp-controller="Support" asp-action="PrivacyPolicy">Privacy Policy</a></li>
                        <li><a asp-controller="Support" asp-action="FAQ">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Servizio Clienti</h5>
                    <ul class="list-unstyled">
                        <li><a asp-controller="Support" asp-action="ServizioClienti">Problemi Tecnici e Amministrativi</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Contatti</h5>
                    <ul class="list-unstyled">
                        <li>Email: support@epizon.com</li>
                        <li>Telefono: +39 123 456 789</li>
                    </ul>
                </div>
            </div>
            <div class="text-center mt-3">
                &copy; 2024 - Epizon
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
    @functions {
        private string GetHomeUrl()
        {
            if (User.Identity.IsAuthenticated)
            {
                var userRole = User.FindFirstValue(ClaimTypes.Role);
                if (userRole == "Rivenditore")
                {
                    return Url.Action("HomeRivenditore", "Home");
                }
            }
            // Default home page URL
            return Url.Action("Index", "Home");
        }
    }

</body>
</html>
