@model IEnumerable<Epizon.Models.Articolo>

@{
    ViewData["Title"] = "Risultati della Ricerca";
}

<h2 class="text-center" style="color:#992FA6;font-size:70px;">Risultati della Ricerca</h2>

@if (Model.Any())
{
    <div class="container">
        <div class="row">
            @foreach (var articolo in Model)
            {
                <div class="col-12 col-md-4 my-5">
                    <div class="card my-5 h-100 p-2" style="border:2px solid #992FA6">
                        <a href="@Url.Action("DettaglioArticolo", "Shop", new { id = articolo.Id })" class="text-decoration-none">
                            <img src="~/images/@articolo.ImmagineCopertina" class="card-img-top m-auto" alt="@articolo.Titolo" style="height: 350px;width:cover;">
                        </a>
                        <div class="card-body d-flex flex-column">
                            <a href="@Url.Action("DettaglioArticolo", "Shop", new { id = articolo.Id })" class="text-decoration-underline text-dark">
                                <h5 class="card-title">@articolo.Titolo</h5>
                            </a>
                            <h4 class="card-text mt-auto">@articolo.Prezzo €</h4>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    
}

